<div>
  <div class="container" style="background-color: 
  #f9fafb; height: 1000px;">

        <div class="row" style="font-size: 16px; text-align: center;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; ">
            
                <div class="col-xs-6" style="background:  #ffffff; height: 60px;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; color: #595c6e;  display: flex; align-items: center; justify-content: center;">
    
                   
                    <img  src="/images/i-user-circle.png" style="width:25%; height: 55%; margin-right: 3%;" >
                    
                            My Account
                    
                    
    
                </div>
    
                <div class = "col-xs-6" style= "background:rgba(86, 194, 255, 0.2); height: 60px; color: #30a3e4;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; display: flex; align-items: center; justify-content: center;">
    
                        <img  src="/images/i-search-circle-filled.png" style="width:25%; height: 55%; margin-right: 3%;" >
    
                    Find Care
    
                </div>
    
            </div>

      <div class= "row" style="height: 2%;"></div>
      <div class="container" style="height: 10%; ">
          <div class= "row" style="height: 50%;  font-size: 230%; color: #2d11a6;display: flex; align-items: center; ;
          ">
          <img  src="/images/i-wave@2x.png" style="width:10%; height: 58%; margin-right: 2%; " >
             <strong> Hi, Lucas.</strong> 
          </div>
          <div class= "row" style="height: 50%;  display: flex; align-items: flex-start; color: #595c6e  ;font-size: 130%;">

              We hope you’re well today!

          </div>


   

        

      </div>

      
      <div class = "row" style= " display: flex; align-items: center;justify-content: center; ">
            <div class = "col-xs-10" style= "background-color:white; height: 42px; width: 88%;font-size: 90%; color: #7c7f8f; border: 1px solid 
            #d3d4de; border-radius: 4px; box-shadow: 0 0 12px 0 rgba(211, 212, 222, 0.4);">
                <div class = "row" >
                    <div class = "col-xs-12" style= " height: 42px;  display: flex; align-items: center; ">
  
                      
                            <img  src="/images/i-search-outline.png" style="width:8%; height: 37%; margin-right: 3%;" >
                        
                  
                            Search for care, providers, pools, etc.

                        
                        
  
                    </div>
  
                    
                </div>
            </div>
        </div>
        <div class= "row" style="height: 3%;"></div>


        <div class="container" style="height: 22%; ">
            <div class= "row" style="height: 50%;  font-size: 230%; display: flex; align-items: center; 
            ">


            <div class= "col-xs-6" style = "height: 100%; border-bottom: 1px solid #eeeff6; border-right: 1px solid #eeeff6;">
              <div class = "row" style = "height: 70%;display: flex; align-items: center; justify-content: center; ">
                  <img  src="/images/i-box@2x.png" style="width:30%; height: 60%; margin-right: 2%; 

;                  " >
              </div>

              <div class = "row" style = "height: 10%; color: #937eea; font-size: 16px; display: flex; align-items: center; justify-content: center; ">
                My Contracts
              </div>
                
              </div>


              <div class= "col-xs-6" style = "height: 100%; border-bottom: 1px solid #eeeff6; ">
                  <div class = "row" style = "height: 70%;display: flex; align-items: center; justify-content: center; ">
                      <img  src="/images/i-calendar-filled@2x.png" style="width:30%; height: 60%; margin-right: 2%; 
    
    ;                  " >
    
    
                  </div>
                  <div class = "row" style = "height: 10%; color: #937eea; font-size: 16px; display: flex; align-items: center; justify-content: center; ">
                    My Visits
                  </div>
                    
                  </div>
          
            </div>


            <div class= "row" style="height: 50%;  display: flex; align-items: flex-start  ;font-size: 130%;">
                 <div class= "col-xs-6" style = "height: 100%;  border-right: 1px solid #eeeff6;">
              <div class = "row" style = "height: 70%;display: flex; align-items: center; justify-content: center; ">
                  <img  src="/images/i-cog-filled@2x.png" style="width:30%; height: 60%; margin-right: 2%; 

;                  " >


              </div>
              <div class = "row" style = "height: 10%; color: #937eea; font-size: 16px; display: flex; align-items: center; justify-content: center; ">
                Settings
              </div>
                
              </div>


              <div class= "col-xs-6" style = "height: 100%; ">
                  <div class = "row" style = "height: 70%;display: flex; align-items: center; justify-content: center; ">
                      <img  src="/images/i-support@2x.png" style="width:35%; height: 60%; margin-right: 2%; 
    
    ;                  " >
    
    
                  </div>
                  <div class = "row" style = "height: 10%; color: #937eea; font-size: 16px; display: flex; align-items: center; justify-content: center; ">
                    Support
                  </div>
                    
                  </div>
  
             
  
            </div>
  
  
     
  
          
  
        </div>
    </div>
  </div>