<div class="container account-container">

    <div class="row button-row">

        <div class="col-xs-6 account-button">


            <img class="user-circle-pic" src="/images/i-user-circle.png"> My Account



        </div>

        <div class="col-xs-6 care-button">

            <img class="search-circle-pic " src="/images/i-search-circle-filled.png"> Find Care

        </div>

    </div>

    <div class="row" style="height: 2%;"></div>
    <div class="container" style="height: 10%; ">
        <div class="row greeting-container">
            <img class="wave-pic" src="/images/i-wave@2x.png">
            <strong> Hi, Scott.</strong>
        </div>
        <div class="row greeting-header">

            We hope you’re well today!

        </div>






    </div>


    <div class="row bar-container">
        <div class="col-xs-10 grey-search-box">
            <div class="row">
                <div class="col-xs-12 inner-search-container">


                    <img class="inner-search-container-pic" src="/images/i-search-outline.png"> Search for care, providers, pools, etc.




                </div>


            </div>
        </div>
    </div>

    <div class="row" style="height: 3%;"></div>


    <div class="container account-picture-container">
        <div class="row row-pictures-container">


            <div class="col-xs-6 row-picture-left-border">
                <div class="row first-pic-container">
                    <img class="account-pic" src="/images/i-box@2x.png">
                </div>


                <div class="row ">
                    My Contracts
                </div>

            </div>


            <div class="col-xs-6 row-picture-right-border">
                <div class="row first-pic-container">
                    <img class="account-pic" src="/images/i-calendar-filled@2x.png">


                </div>
                <div class="row picture-underheader">
                    My Visits
                </div>

            </div>

        </div>


        <div class="row row-picture-bottom-container">
            <div class="col-xs-6 row-picture-bottom-left-border">
                <div class="row first-pic-container">
                    <img class="account-pic" src="/images/i-cog-filled@2x.png">


                </div>
                <div class="row picture-underheader">
                    Settings
                </div>

            </div>


            <div class="col-xs-6" style="height: 100%; ">
                <div class="row first-pic-container">
                    <img class="account-pic" src="/images/i-support@2x.png">


                </div>
                <div class="row picture-underheader">
                    Support
                </div>

            </div>



        </div>






    </div>


    <div class="row" style="height: 3%;"></div>

    <div class="calendar-updates">
        <div class="container calendar-container">
            <p class="visits-text"> Upcoming Visits</p>
            <p class="visit-header"> You have one appointment soon. </p1>

        </div>
        <div class="row appointment-container"> </div>

        <div class="row lower-border"></div>

        <div class="row" style="height:10%; "></div>
        <div class="row recent-activity-container">




        </div>










    </div>
</div>