<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">What's your age, Jeff?</p>
        <p class="entrance-subtext">In order to give you the best prices for health care, we need some basic info.</p>
      </div>
    </div>


    <div class="row basic-info-form-group">
      <div class="container">
        <label class="basic-info-input-label" for="male">WHAT IS YOUR AGE</label>
        <input class="basic-info-input-inactive" type="text" name="" value="">
      </div>
    </div>
    <div class="onboarding-spacer">

    </div>
    <div class="text-center">
      <button class="lets-get-started" type="button" name="button">CONTINUE</button>
    </div>

  </div>
</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>