<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">Let's get started.</p>
      </div>
    </div>


    <div class="row basic-info-form-group">
      <div class="container">
        <label class="basic-info-input-label" for="male">FULL NAME</label>
        <input class="basic-info-input-active" type="text" name="" value="">
      </div>
    </div>

    <div class="row basic-info-form-group">
      <div class="container">
        <label class="basic-info-input-label" for="male">EMAIL ADDRESS</label>
        <input class="basic-info-input-inactive" type="text" name="" value="">
      </div>
    </div>

    <div class="row basic-info-form-group">
      <div class="container">
        <div class="alert alert-info" role="alert">

          <!-- <div class="col-xs-1">
            <i class="fas fa-info-circle"></i>
          </div>

          <div class="col-xs-10">
            You'll enter a password later. For now, this is all we need!
          </div> -->
    You'll enter a password later. For now, this is all we need!
        </div>
      </div>
    </div>

    <div class="row basic-info-form-group">
      <div class="container terms-of-service">
        By signing up, you agree to BitClaims <span>Terms of Service</span>  and  <span>Privacy Policy</span>
      </div>
    </div>

    <div class="text-center">
      <button class="lets-get-started" type="button" name="button">LET'S GET STARTED</button>
    </div>









  </div>










</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
