<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">Are you looking for a specific type of care?</p>
        <p class="entrance-subtext">Select all that apply, or skip this step</p>
      </div>
    </div>

    <div class="row basic-info-form-group">
      <div class="container">
        <input class="care-search" type="text" name="" value="" placeholder="&#xF002; Primary cae, surgery, etc" >
      </div>
    </div>

  <button class="type-of-care-button btn" type="button">Acupuncture</button>
    <button class="type-of-care-button btn" type="button">General Care</button>
      <button class="type-of-care-button btn" type="button">Heart Surgery</button>
        <button class="type-of-care-button btn" type="button">Physical Therapy</button>
  <button class="type-of-care-button btn" type="button">Massage</button>
    <button class="type-of-care-button btn" type="button">Rotator Cuff Surgery</button>
      <button class="type-of-care-button btn" type="button">Applied Behavioral Analysis</button>
        <button class="type-of-care-button btn" type="button">Psychiatry</button>
          <button class="type-of-care-button btn" type="button">Dentistry</button>

    <div class="text-center">
      <button class="lets-get-started" type="button" name="button">CONTINUE</button>
    </div>

  </div>
</div>
