<div>

    <div class="container">
  
      <i class="fas fa-arrow-left"></i>
      <span class="Back">Back</span>
      <div class="menu-line">
      </div>
  
      <div class="row">
        <div class="container">
          <p class="entrance-question">Who are you seeking care for today?</p>
          <p class="entrance-subtext">Select all that apply.</p>
        </div>
      </div>
  
      <div class="row">
        <div class="container">
          <div class="who-option">
            <div class="who-option-text">
              Myself
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="container">
          <div class="who-option">
            <div class="who-option-text">
              My Spouce
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="container">
          <div class="who-option">
            <div class="who-option-text">
              My Children
            </div>
  
          </div>
        </div>
      </div>
  
      
  
  
  
  
  
      
  
  
  
  
  
      <div class="text-center" style= "margin-bottom: 10%;" >
        <button class="createAccount" style="background-color: 
        #d3d4de; color: white; border: 1px solid #a8acb8 " type="button" name="button">CONTINUE</button>
      </div>

      
  
  
  
  
  
  
  
  
  
    </div>
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  
  
  
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  