<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">Who are you seeking care for today?</p>
        <p class="entrance-subtext">Select all that apply.</p>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text">
            Myself
          </div>
          <!-- <input class="who-option-radio" type="radio" name="gender" value="male"> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text">
            My Spouce
          </div>
          <!-- <input class="who-option-radio" type="radio" name="gender" value="male"> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text">
            My Children
          </div>
          <!-- <input class="who-option-radio" type="radio" name="gender" value="male"> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container text-center">
        <p class="how-many-children">How many Children do you have?</p>
      </div>
    </div>

    <div class="row">



        <div class="col-4-sm">
          <button type="button" name="button">1</button>
        </div>

        <div class="col-4-sm">
            <button type="button" name="button">2</button>
        </div>

        <div class="col-4-sm">
          <button type="button" name="button">3</button>
        </div>








    </div>

  </div>










</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
