<div>
    <div class="container" style="background-color: #ffffff; height: 1000px;">
     
  
        <div class="row" style="font-size: 16px; text-align: center;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; ">
            
            <div class="col-xs-6" style="background:  #ffffff; height: 60px;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; color: #595c6e;  display: flex; align-items: center; justify-content: center;">

               
                <img  src="/images/i-user-circle.png" style="width:25%; height: 55%; margin-right: 3%;" >
                
                        My Account
                
                

            </div>

            <div class = "col-xs-6" style= "background:rgba(86, 194, 255, 0.2); height: 60px; color: #30a3e4;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; display: flex; align-items: center; justify-content: center;">

                    <img  src="/images/i-search-circle-filled.png" style="width:25%; height: 55%; margin-right: 3%;" >

                Find Care

            </div>

        </div>

  <div class= "row" style="height: 1%;"></div>
  <div class = "row" style= " display: flex; align-items: center;justify-content: center; ">
        <div class = "col-xs-10" style= "background-color:white; height: 42px; width: 88%;font-size: 15px; color: #7c7f8f; border: 1px solid #937eea;">
            <div class = "row" >
                <div class = "col-xs-12" style= " height: 42px;  display: flex; align-items: center; ">

                  
                        <img  src="/images/i-search-outline.png" style="width:8%; height: 35%; margin-right: 3%;" >
                    
              
                    Primary

                    <img  src="/images/i-filters.png" style="margin-left: 55%;width:8%; height: 34%; margin-right: 3%;" >
                    <img  src="/images/i-map-marker.png" style="width:6%; height: 32%; margin-right: 3%;" >
                    

                </div>

                
            </div>
        </div>
    </div>


<div class= "row" style="height: 1% ;"></div>

<div class= "row" style="height: .1%; background-color: #d3d4de  ;"></div>
        <div class= "row" style="height: 10px ; background-color: #937eea;"></div>
       
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;  ">


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;    display: flex; align-items: center;   justify-content: center;   ">
              
              Cancel

          </div>


          <div class = "col-xs-4" style = " height:50px; display: flex; align-items: center; justify-content: center;">
              
                            
                            <strong>Filters</strong>
              
               
          </div>


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;  text-align: right; display: flex; align-items: center;   justify-content: center;">
              
             Search

          </div>

        </div>





        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;  letter-spacing: .5px;    display: flex; align-items: flex-end;  ">
               CONTRACT TYPE
  
            </div>
           

        </div>




        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;  display: flex; align-items: center;    ">
                <strong>Show all</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-down" style="font-size: 20px; "></i>


  
            </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;  letter-spacing: .5px;  display: flex; align-items: flex-end;      ">
               
               PRICE RANGE
  
            </div>
           

        </div>


        <div class= "row" style = "height:175px;">

 <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
   <div class= "row">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                
                <strong>$50-92</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-up" style="font-size: 20px; "></i>

              </div>
  
            </div>
            


        </div>
        <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                     <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                         <div class= "row" style="height: 10px ; "></div>
                         <u> Best Match</u>
           
                     </div>
         
                     <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                         <div class= "row" style="height: 10px ;"></div>
                         <u>Clear</u>
         
                       </div>
           
                     </div>
                     
         
         
                 </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left; letter-spacing: .5px;       display: flex; align-items: flex-end;  ">
                
               DISTANCE
  
            </div>
           

        </div>
        <div class= "row" style = "height:175px;">
            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                         
                             <strong>Near Me</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>






                         
                         
                         
             
             
                     </div>
                     <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                    <div class= "row" style="height: 10px ; "></div>
                    <div class = "button" style = "height: 30px; width: 80px; color: #ffffff; background-color: #b4a2fc; text-align: center; border: 1px solid; border-radius: 5px;">
                    <u> Near Me</u>
                </div>
      
                </div>
    
                <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                    <div class= "row" style="height: 10px ;"></div>
                    <u>Clear</u>
    
                  </div>
      
                </div>
                     
         
         
                 </div>
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;   letter-spacing: .5px;  display: flex; align-items: flex-end;     ">
               
              SORT BY
  
            </div>
           

        </div>
        <div class= "row" style = "height:300px;">

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                             
                             <strong>Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;  display: flex; align-items: center;    ">
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>

                         
             
             
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;  display: flex; align-items: center;    ">
                             <strong> <i class="far fa-lightbulb" style = "color: #d3d4de
                                ;"></i>

                                 Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right; display: flex; align-items: center;     ">
                             <i class="fas fa-check" style="font-size: 20px; color: green;"></i>
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color:#212b36;     text-align: left;   display: flex; align-items: center;   ">
                             <i class="fas fa-plane" style = "color: #d3d4de

                                ;"></i>

                                 Distance
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left; display: flex; align-items: center;     ">
                             <i class="fas fa-dollar-sign" style = "color: #d3d4de
                                ;"></i>

                                 Price
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                            <!-- <i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left; display: flex; align-items: center;     ">
                              <i class="far fa-clock" style = "color: #d3d4de
                                ;"></i>

                                 Wait Time
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left;   display: flex; align-items: center;   ">
                              <i class="fas fa-thumbs-up" style = "color: #d3d4de
                                ;"></i>

                                 Satisfaction Score
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>
          
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-8"style= "height:50px; color: #595c6e
            ;    text-align:left;   letter-spacing: .5px;   display: flex; align-items: flex-end;   ">
              DOCTORS GENDER
  
            </div>
           

        </div>
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-4" style= "background-color: #937eea; color: #ffffff; height: 50px;display: flex; align-items: center; justify-content: center;">
                    N/A

            </div>
            <div class = "col-xs-4" style= "color: #a8acb8; height: 50px;  border: 1px solid #eeeff6;display: flex; align-items: center; justify-content: center;" >
                        Male
                
            </div>
            <div class = "col-xs-4" style= "color: #a8acb8;height: 50px;  border: 1px solid #eeeff6;display: flex; align-items: center; justify-content: center;">
                        Female
                
            </div>
        </div>

        <div class= "row" style = "height:50px; background-color: #eeeff6; ">

                


        </div>
  
      </div>
  </div>
         
    