<div>
    <div class="container" style="background-color: #ffffff; height: 1000px;">
     
  
      <div class="row" style="font-size: 16px; text-align: center;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de;">
        <div class="col-xs-6" style="background:
          #ffffff; height: 60px;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; color: #595c6e;">
          <div class="row" style="height: 10px;"></div>
  
          <i class="fas fa-user-circle" style="font-size: 30px" ;></i>
          My Account
        </div>
        
        
        
          
        <div class = "col-xs-6" style= "background:rgba(86, 194, 255, 0.2)
          ; height: 60px; color: #30a3e4;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de;">
          <div class= "row" style="height: 12px;"></div>
          <i class="fas fa-search" style="font-size: 30px; "></i>
          Find Care
        
        </div> 
        </div>
  
        <div class= "row" style="height: 10px;"></div>
        <div class = "row" >
            <div class = "col-xs-10 col-xs-offset-1" style= "background-color:white; height: 42px; font-size: 16px; color: #7c7f8f; border: 1px solid #937eea;">
                <div class = "row">
                    <div class = "col-xs-9" style= " height: 42px;">
                      <div class = "row" style="height:10px;"></div>
                        <i class="fas fa-search" style= "font-size: 20px;"></i>
                  Primary Care
  
                    </div>
  
  
                    <div class = "col-xs-3" style= " height: 42px;">
                       
                        <div class= "row">
                        <div class = "col-xs-6" style= " height: 42px;">
                            <div class = "row" style="height:10px;"></div>
                            <i class="fa fa-sliders" aria-hidden="true"  style= "font-size: 20px;"></i>
                        </div>
                        <div class = "col-xs-6" style= " height: 42px;">
                            <div class = "row" style="height:10px;"></div>
                            <i class="fas fa-map-marker-alt"  style= "font-size: 20px;"></i>
                        </div>
                      </div>
                        
                      
  
                    </div>
  
  
                </div>
  
            </div>
        </div>
  
        <div class= "row" style="height: 9px ;"></div>
  
        <div class= "row" style="height: 1px; background-color: #d3d4de  ;"></div>
        <div class= "row" style="height: 10px ; background-color: #937eea;"></div>
       
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center; ">


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;     text-align: left;     ">
              <div class= "row" style="height: 9px ;"></div>
              Cancel

          </div>


          <div class = "col-xs-4" style = " height:50px;">
              
                            <div class= "row" style="height: 9px ;"></div>
                            <strong>Filters</strong>
              
               
          </div>


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;  text-align: right;        ">
              <div class= "row" style="height: 9px ;"></div>
              Search

          </div>

        </div>





        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-5"style= "height:50px; color: #595c6e;    text-align:left;      ">
                <div class= "row" style="height: 20px ;"></div>
               CONTRACT TYPE
  
            </div>
           

        </div>




        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;     ">
                <div class= "row" style="height: 10px ; "></div>
                <strong>Show all</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-down" style="font-size: 20px; "></i>


  
            </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-5"style= "height:50px; color: #595c6e;    text-align:left;      ">
                <div class= "row" style="height: 20px ;"></div>
               PRICE RANGE
  
            </div>
           

        </div>


        <div class= "row" style = "height:175px;">

 <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
   <div class= "row">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;     ">
                <div class= "row" style="height: 10px ; "></div>
                <strong>$50-92</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-up" style="font-size: 20px; "></i>

              </div>
  
            </div>
            


        </div>
        <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                     <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                         <div class= "row" style="height: 10px ; "></div>
                         <u> Best Match</u>
           
                     </div>
         
                     <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                         <div class= "row" style="height: 10px ;"></div>
                         <u>Clear</u>
         
                       </div>
           
                     </div>
                     
         
         
                 </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-5"style= "height:50px; color: #595c6e;    text-align:left;      ">
                <div class= "row" style="height: 20px ;"></div>
               DISTANCE
  
            </div>
           

        </div>
        <div class= "row" style = "height:175px;">
            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                             <strong>Near Me</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>






                         
                         
                         
             
             
                     </div>
                     <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                    <div class= "row" style="height: 10px ; "></div>
                    <div class = "button" style = "height: 30px; width: 80px; color: #ffffff; background-color: #b4a2fc; text-align: center; border: 1px solid; border-radius: 5px;">
                    <u> Near Me</u>
                </div>
      
                </div>
    
                <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                    <div class= "row" style="height: 10px ;"></div>
                    <u>Clear</u>
    
                  </div>
      
                </div>
                     
         
         
                 </div>
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-5"style= "height:50px; color: #595c6e;    text-align:left;      ">
                <div class= "row" style="height: 20px ;"></div>
              SORT BY
  
            </div>
           

        </div>
        <div class= "row" style = "height:300px;">

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                             <strong>Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>

                         
             
             
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                             <strong> <i class="far fa-lightbulb" style = "color: #d3d4de
                                ;"></i>

                                 Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <i class="fas fa-check" style="font-size: 20px; color: green;"></i>
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color:#212b36;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                             <i class="fas fa-plane" style = "color: #d3d4de

                                ;"></i>

                                 Distance
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                            <!-- <i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                             <i class="fas fa-dollar-sign" style = "color: #d3d4de
                                ;"></i>

                                 Price
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                            <!-- <i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                              <i class="far fa-clock" style = "color: #d3d4de
                                ;"></i>

                                 Wait Time
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left;     ">
                             <div class= "row" style="height: 10px ; "></div>
                              <i class="fas fa-thumbs-up" style = "color: #d3d4de
                                ;"></i>

                                 Satisfaction Score
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>
          
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-8"style= "height:50px; color: #595c6e
            ;    text-align:left;      ">
                <div class= "row" style="height: 20px ;"></div>
              DOCTORS GENDER
  
            </div>
           

        </div>
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-4" style= "background-color: #937eea; color: #ffffff; height: 50px;">
                    <div class= "row" style="height: 15px ; "></div>
                    N/A

            </div>
            <div class = "col-xs-4" style= "color: #a8acb8; height: 50px;  border: 1px solid #eeeff6;" >
                    <div class= "row" style="height: 15px ;"></div>
                        Male
                
            </div>
            <div class = "col-xs-4" style= "color: #a8acb8;height: 50px;  border: 1px solid #eeeff6 ">
                    <div class= "row" style="height: 15px ;"></div>
                        Female
                
            </div>
        </div>

        <div class= "row" style = "height:50px; background-color: #eeeff6; ">

                


        </div>
  
      </div>
  </div>
         
    