<!-- Haven't completely transported all of the incline css, because we're going to be integrate vue.js and replace everything-->

<div>
    <div class="container filters-container" >
     
  
        <div class="row button-row">

            <div class="col-xs-6 account-button">
      
      
              <img class="user-circle-pic" src="/images/i-user-circle.png"> My Account
      
      
      
            </div>
      
            <div class="col-xs-6 care-button" >
      
              <img class ="search-circle-pic "src="/images/i-search-circle-filled.png"> Find Care
      
            </div>
      
          </div>
      
          <div class="row empty-line"></div>
          <div class="row bar-container">
            <div class="col-xs-10 search-bar">
              <div class="row">
                <div class="col-xs-12 inner-search-container">
      
      
                  <img class="inner-search-container-pic" src="/images/i-search-outline.png"> Search
      
                  <img class="inner-filter-pic" src="/images/i-filters.png">
                  <img class="inner-map-pic" src="/images/i-map-marker.png">
      
                </div>
      
      
              </div>
            </div>
          </div>


<div class= "row" style="height: 1% ;"></div>

<div class= "row" style="height: .1%; background-color: #d3d4de  ;"></div>
        <div class= "row" style="height: 10px ; background-color: #937eea;"></div>
       
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;  ">


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;    display: flex; align-items: center;   justify-content: center;   ">
              
              Cancel

          </div>


          <div class = "col-xs-4" style = " height:50px; display: flex; align-items: center; justify-content: center;">
              
                            
                            <strong>Filters</strong>
              
               
          </div>


          <div class = "col-xs-4"style= "height:50px; color: #595c6e;  text-align: right; display: flex; align-items: center;   justify-content: center;">
              
             Search

          </div>

        </div>





        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;  letter-spacing: .5px;    display: flex; align-items: flex-end;  ">
               CONTRACT TYPE
  
            </div>
           

        </div>




        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;  display: flex; align-items: center;    ">
                <strong>Show all</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-down" style="font-size: 20px; "></i>


  
            </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;  letter-spacing: .5px;  display: flex; align-items: flex-end;      ">
               
               PRICE RANGE
  
            </div>
           

        </div>


        <div class= "row" style = "height:175px;">

 <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
   <div class= "row">
            <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                
                <strong>$50-92</strong>
  
            </div>

            <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                <div class= "row" style="height: 10px ;"></div>
                <i class="fas fa-caret-up" style="font-size: 20px; "></i>

              </div>
  
            </div>
            


        </div>
        <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                     <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                         <div class= "row" style="height: 10px ; "></div>
                         <u> Best Match</u>
           
                     </div>
         
                     <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                         <div class= "row" style="height: 10px ;"></div>
                         <u>Clear</u>
         
                       </div>
           
                     </div>
                     
         
         
                 </div>


        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left; letter-spacing: .5px;       display: flex; align-items: flex-end;  ">
                
               DISTANCE
  
            </div>
           

        </div>
        <div class= "row" style = "height:175px;">
            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                         
                             <strong>Near Me</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>






                         
                         
                         
             
             
                     </div>
                     <div class= "col-xs-12" style = "height:75px; font-size: 16px;"></div>
        <div class= "col-xs-12" style = "height:50px; font-size: 14px;">
            <div class= "row">
                <div class = "col-xs-10"style= "height:50px; color: #937eea;     text-align: left;     ">
                    <div class= "row" style="height: 10px ; "></div>
                    <div class = "button" style = "height: 30px; width: 80px; color: #ffffff; background-color: #b4a2fc; text-align: center; border: 1px solid; border-radius: 5px;">
                    <u> Near Me</u>
                </div>
      
                </div>
    
                <div class = "col-xs-2"style= "height:50px; color: #937eea;   text-align: right;     ">
                    <div class= "row" style="height: 10px ;"></div>
                    <u>Clear</u>
    
                  </div>
      
                </div>
                     
         
         
                 </div>
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-12"style= "height:50px; color: #595c6e;    text-align:left;   letter-spacing: .5px;  display: flex; align-items: flex-end;     ">
               
              SORT BY
  
            </div>
           

        </div>
        <div class= "row" style = "height:300px;">

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left; display: flex; align-items: center;     ">
                             
                             <strong>Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;  display: flex; align-items: center;    ">
                             <i class="fas fa-caret-up" style="font-size: 20px; "></i>
             
                           </div>
               
                         </div>
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>

                         
             
             
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #595c6e;     text-align: left;  display: flex; align-items: center;    ">
                             <strong> <i class="far fa-lightbulb" style = "color: #d3d4de
                                ;"></i>

                                 Best Match</strong>
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right; display: flex; align-items: center;     ">
                             <i class="fas fa-check" style="font-size: 20px; color: green;"></i>
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color:#212b36;     text-align: left;   display: flex; align-items: center;   ">
                             <i class="fas fa-plane" style = "color: #d3d4de

                                ;"></i>

                                 Distance
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left; display: flex; align-items: center;     ">
                             <i class="fas fa-dollar-sign" style = "color: #d3d4de
                                ;"></i>

                                 Price
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                            <!-- <i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>

            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left; display: flex; align-items: center;     ">
                              <i class="far fa-clock" style = "color: #d3d4de
                                ;"></i>

                                 Wait Time
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>


            <div class= "col-xs-12" style = "height:50px; font-size: 16px;">
                <div class= "row">
                         <div class = "col-xs-10"style= "height:50px; color: #212b36;     text-align: left;   display: flex; align-items: center;   ">
                              <i class="fas fa-thumbs-up" style = "color: #d3d4de
                                ;"></i>

                                 Satisfaction Score
               
                         </div>
             
                         <div class = "col-xs-2"style= "height:50px; color: #595c6e;   text-align: right;     ">
                             <div class= "row" style="height: 10px ;"></div>
                             <!--<i class="fas fa-caret-up" style="font-size: 20px; "></i>-->
             
                           </div>
               
                         </div>
                         
             
                         <div class= "col-xs-11 " style="height: 1px ; background-color: #eeeff6;"></div>
            </div>
          
        </div>
        <div class= "row" style = "height:50px; background-color: #eeeff6; font-size: 14px;">
            <div class = "col-xs-8"style= "height:50px; color: #595c6e
            ;    text-align:left;   letter-spacing: .5px;   display: flex; align-items: flex-end;   ">
              DOCTORS GENDER
  
            </div>
           

        </div>
        <div class= "row" style = "height:50px; font-size: 16px; text-align: center;">
            <div class = "col-xs-4" style= "background-color: #937eea; color: #ffffff; height: 50px;display: flex; align-items: center; justify-content: center;">
                    N/A

            </div>
            <div class = "col-xs-4" style= "color: #a8acb8; height: 50px;  border: 1px solid #eeeff6;display: flex; align-items: center; justify-content: center;" >
                        Male
                
            </div>
            <div class = "col-xs-4" style= "color: #a8acb8;height: 50px;  border: 1px solid #eeeff6;display: flex; align-items: center; justify-content: center;">
                        Female
                
            </div>
        </div>

        <div class= "row" style = "height:50px; background-color: #eeeff6; ">

                


        </div>
  
      </div>
  </div>
         
    