<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>



    <div class="row" style="margin-top: 5%;">
      <div class="container">
        <p class="entrance-question">Forgot your password? No problem.</p>
      </div>
    </div>

    <div class="hero-subtext">

      Enter the email address associated with your BitClaims account and we’ll send you a link to recover your account.
    </div>


    <div class="row basic-info-form-group" style="margin-top: 10%;">
      <div class="container">
        <label class="basic-info-input-label" for="male">EMAIL ADDRESS</label>
        <input class="basic-info-input-active" type="text" name="" value="">
      </div>
    </div>



    <div class="text-center">
      <button class="lets-get-started" type="button" name="button">RECOVER ACCOUNT</button>
    </div>















  </div>










</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>