<div>

  <div class="container">

    <div class="hiddenback">
      <i class="fas fa-arrow-left"></i>
      <span class="Back">Back</span>
    </div>


    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">One minute while we load your dashboard...</p>
        <p class="entrance-subtext">We're finding you the best care around at the best cost avaliable</p>
      </div>
    </div>



    <div class="onboarding-spacer">

    </div>

    <div class="text-center number-crunching">
      Crunching some numbers...
    </div>

  </div>
</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>