<div>

    <div class="container">
  
      <i class="fas fa-arrow-left"></i>
      <span class="Back">Back</span>
    
      
  
      <div class="row" style="margin-top: 5%;">
        <div class="container">
          <p class="entrance-question">Log in to BitClaims</p>
        </div>
      </div>
  
  
      <div class="row basic-info-form-group">
        <div class="container">
          <label class="basic-info-input-label" for="male">EMAIL ADDRESS</label>
          <input class="basic-info-input-active" type="text" name="" value="">
        </div>
      </div>
  
      <div class="row basic-info-form-group">
        <div class="container">
          <label class="basic-info-input-label" for="male">PASSWORD</label>
          <input class="basic-info-input-inactive" type="text" name="" value="">
        </div>
      </div>
  
      <div class="text-center">
          <button class="lets-get-started" type="button" name="button">LOG IN</button>
        </div>
  
     
        <div class="container terms-of-service" style="text-align:center;">
          <span>Forgot Password</span>   
        </div>
     
  
     
  
  
  
  
  
  
  
  
  
    </div>
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  
  
  
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  