<div>
    <div class="container maps-container" >
  
        <div class="row button-row">

            <div class="col-xs-6 account-button">
      
      
              <img class="user-circle-pic" src="/images/i-user-circle.png"> My Account
      
      
      
            </div>
      
            <div class="col-xs-6 care-button" >
      
              <img class ="search-circle-pic "src="/images/i-search-circle-filled.png"> Find Care
      
            </div>
      
          </div>
  
          <div class="row empty-line" style="height: 10px;"></div>
          <div class="row bar-container">
            <div class="col-xs-10 search-bar">
              <div class="row">
                <div class="col-xs-12 inner-search-container">
      
      
                  <img class="inner-search-container-pic" src="/images/i-search-outline.png"> Primary
      
                  <img class="inner-filter-pic" src="/images/i-filters.png">
                  <img class="inner-map-pic" src="/images/i-map-marker.png">
      
                </div>
      
      
              </div>
            </div>
          </div>
  
  
  
  
          <div class= "row" style="height: 10px ;"></div>

          <div class= "row" style="height: 1px; background-color: #d3d4de  ;"></div>
  
  
          <div class="row dpc-box" style="margin-top: 90%;">
            <div class="col-xs-10 dpc-middle-box">
              <div class="row hospital-name">
      
      
                <div class="col-xs-2 logo-container">
      
                  <img class="clinic-pic" src="/images/i-clinic.png">
      
                </div>
      
      
                <div class="col-xs-8 primary-care-info">
      
                  <div class="row primary-care-header">
      
                    <strong>
                      PRIMARY CARE</strong>
                  </div>
      
      
                  <div class="row hospital-header">
                    <strong>
                      Mercy Medical Center</strong>
      
                  </div>
                </div>
                <div class="col-xs-2 arrow-box">
                  <i class="fas fa-chevron-right arrow-pic"></i>
                </div>
      
      
      
              </div>
      
              <div class="row dpc-mid-row">
                <div class="col-xs-8 dpc-mid-row-container-info">
                  <div class="row amount-doctors">
      
      
      
      
      
                    <i class="fas fa-stethoscope stetho-pic"></i>
      
      
                    10 Doctors
      
      
      
      
                  </div>
      
                  <div class="row distance-box">
      
                    <i class="fas fa-map-marker-alt map-pic"></i>
                    2 Miles away
      
                  </div>
      
      
                </div>
                <div class="col-xs-4 dpc-price-holder">
      
                  <div class="row dpc-price-box">
      
                    $50-90
      
                  </div>
      
                </div>
      
      
              </div>
              <div class="row attribute-row">
                <div class="col-xs-4 attribute">
      
                  <div class="row first-attribute-box">
      
      
                    CERTIFIED
                  </div>
      
      
                </div>
                <div class="col-xs-6 attribute">
                  <div class="row second-attribute-box">
      
      
                    LOW AVAILABILITY
                  </div>
      
      
                </div>
                <div class="col-xs-2 attribute">
      
                  <div class="row third-attribute-box">
      
      
                    50%
                  </div>
      
      
                </div>
              </div>
            </div>
          </div>
  
  
        <div class= "row" style="height: 1.5%;"></div>
  
       
  
  
  
  
      </div>
      
    
    
  </div>
         
    
    