<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">Are you looking for a specific type of care?</p>
        <p class="entrance-subtext">Select all that apply, or
          <span style="color: #56c2ff;">skip</span> this step.</p>
      </div>
    </div>

    <div class="row bar-container">
      <div class="col-xs-10 search-bar">
        <div class="row">
          <div class="col-xs-12 inner-search-container">


            <img class="inner-search-container-pic" src="/images/i-search-outline.png"> 

            Primary care, surgery, etc

          </div>


        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 10%;">

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">Acupuncture</button>
      </div>

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">General Care</button>
      </div>


    </div>


    <div class="row" style="margin-top: 1%;">

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">Heart Surgery</button>
      </div>

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">Physical</button>
      </div>


    </div>

    <div class="row" style="margin-top: 1%;">

      <div class="col-xs-5 text-center">
        <button class="how-many-children-button btn" type="button">Massage</button>
      </div>

      <div class="col-xs-7 text-center">
        <button class="how-many-children-button btn" type="button">Rotator Cuff </button>
      </div>


    </div>
    <div class="row" style="margin-top: 1%;">

      <div class="col-xs-11 text-center">
        <button class="how-many-children-button btn" type="button">Applied Behavioral Analysis
        </button>
      </div>




    </div>

    <div class="row" style="margin-top: 1%;">

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">Psychiatry</button>
      </div>

      <div class="col-xs-6 text-center">
        <button class="how-many-children-button btn" type="button">Dentistry</button>
      </div>


    </div>





    <div class="text-center">
      <button class="createAccount" type="button" name="button">CONTINUE</button>
    </div>


  </div>


</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>