<div>

    <div class="container">
  
      <i class="fas fa-arrow-left"></i>
      <span class="Back">Back</span>
    
      
  
      <div class="row" style="margin-top: 5%;">
        <div class="container">
          <p class="entrance-question">What’s your age, Jeff?
            </p>
        </div>
      </div>

      <div class="hero-subtext">
      
          In order to give you the best prices for health care, we need some basic info.
        </div>
  
  
      <div class="row basic-info-form-group" >
        <div class="container">
          <label class="basic-info-input-label" for="male">WHAT IS YOUR AGE?</label>
          <input class="basic-info-input-active" type="text" name="" value="">
        </div>
      </div>
  
      
  
      <div class="text-center" style="margin-top: 60%;">
          <button class="lets-get-started" type="button" name="button">CONTINUE</button>
        </div>
  
     
        
     
  
     
  
  
  
  
  
  
  
  
  
    </div>
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  
  
  
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  