<div>

  <div class="container">

    <i class="fas fa-arrow-left"></i>
    <span class="Back">Back</span>
    <div class="menu-line">
    </div>

    <div class="row">
      <div class="container">
        <p class="entrance-question">Which of these labels best describes you?</p>
        <!--<p class="entrance-subtext">Select all that apply.</p>-->
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text"><i class="far fa-smile"></i>
            Patient
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text">
              <i class="fas fa-briefcase-medical"></i>
            Healthcare Provider
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="who-option">
          <div class="who-option-text">
              <i class="fas fa-briefcase"></i>
            Employer
          </div>

        </div>
      </div>
    </div>
<!--
    <div class="row">
      <div class="container text-center">
        <p class="how-many-children">How many Children do you have?</p>
      </div>
    </div>





      <div class="row">

        <div class="col-xs-4 text-center">
          <button class="how-many-children-button btn" type="button">1</button>
        </div>

        <div class="col-xs-4 text-center">
          <button class="how-many-children-button btn"  type="button">2</button>
        </div>

        <div class="col-xs-4 text-center">
          <button class="how-many-children-button btn"  type="button">3</button>
        </div>
    </div>


    <div class="row">
      <div class="col-xs-4 text-center">
        <button class="how-many-children-button btn"  type="button">4</button>
      </div>

      <div class="col-xs-4 text-center">
        <button class="how-many-children-button btn"  type="button">5+</button>
      </div>

    </div>

  



    <div class="text-center">
      <button class="createAccount" type="button" name="button">CONTINUE</button>
    </div>
  -->










  </div>










</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
