<div>
  <div class="container">
      <div class="row">
       
          <div class="col-xs-6 vcenter" style="background-color:white; font-size:20px;  text-align: center;  ">
          <i class="fas fa-user-circle"></i>
                My Account
          
            </div>
            <div class="col-xs-6 text-large  " style="background-color:rgba(86, 194, 255, 0.2); font-size:20px; text-align: center; height:60px;">
            <i class="fas fa-search"></i>
                Find Care
          </div>
      </div>
      <div class="row" style= "text-align: center;">
          <div class="container" >
            <div class="who-option" >
              <div class="who-option-text" >
                  <i class="fas fa-search" ></i>
                Search<i class="fa fa-sliders" aria-hidden="true"></i>

                <i class="fas fa-map-marker-alt"></i>


              </div>
    
            </div>
          </div>
        </div>

        <div class="row">
            <div class="container">
              <p class="entrance-question" style="margin-top: 20px; margin-left: 20px; font-size:20px; color: #222436">Nearby Care</p>
              
            </div>
          </div>

          <div class="row">
              <div class="menu-line">
                </div>
                
              <div class="col-sm-4" style="background-color:#ffffff;">
                  <i class="far fa-hospital"></i>


                Primary Care<br>
                Mercy Medical Center
              </div>
              <div class="menu-line">
                </div>
              <div class="col-sm-4" style="background-color:#ffffff;">
                  <i class="fas fa-stethoscope"></i>


                  10 Doctors<br>
                  <i class="fas fa-map-marker-alt"></i>
                2 Miles away
              </div>
              <div class="menu-line">
                </div>
              <div class="col-sm-4" style="background-color:#ffffff;">
                  <div class="col-xs-4" style= "background-color: #36ac7d; height:40px;">
                    Certified
                  </div>
                  <div class="col-xs-4" style= "background-color: #fe56c5; height:40px;">
                    Low Availability
                  </div>
                  <div class="col-xs-4" style= "background-color: #e86e29; height:40px;">
                    50% Satisfied
                    </div>
                    
                 
                </div>
                <div class="menu-line" style="margin-top: 60px;"></div>




                
            </div>
  </div>
</div>