<div>
  <div class="container" style="background-color: #ffffff; height: 1000px;">


    <div class="row" style="font-size: 16px; text-align: center;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de;">
      <div class="col-xs-6" style="background:  #ffffff; height: 60px;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; color: #595c6e;">
        <div class="row" style="height: 10px;"></div>

        <i class="fas fa-user-circle" style="font-size: 30px" ;></i>
        My Account
      </div>




      <div class = "col-xs-6" style= "background:rgba(86, 194, 255, 0.2)
        ; height: 60px; color: #30a3e4;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de;">
        <div class= "row" style="height: 12px;"></div>
        <i class="fas fa-search" style="font-size: 30px; "></i>
        Find Care

      </div>
      </div>

      <div class= "row" style="height: 10px;"></div>
      <div class = "row" >
          <div class = "col-xs-10 col-xs-offset-1" style= "background-color:white; height: 42px; font-size: 16px; color: #7c7f8f; border: 1px solid #937eea;">
              <div class = "row">
                  <div class = "col-xs-9" style= " height: 42px;">
                    <div class = "row" style="height:10px;"></div>
                      <i class="fas fa-search" style= "font-size: 20px;"></i>
                Primary Care

                  </div>


                  <div class = "col-xs-3" style= " height: 42px;">

                      <div class= "row">
                      <div class = "col-xs-6" style= " height: 42px;">
                          <div class = "row" style="height:10px;"></div>
                          <i class="fa fa-sliders" aria-hidden="true"  style= "font-size: 20px;"></i>
                      </div>
                      <div class = "col-xs-6" style= " height: 42px;">
                          <div class = "row" style="height:10px;"></div>
                          <i class="fas fa-map-marker-alt"  style= "font-size: 20px;"></i>
                      </div>
                    </div>



                  </div>


              </div>

          </div>
      </div>

      <div class= "row" style="height: 9px ;"></div>

      <div class= "row" style="height: 1px; background-color: #d3d4de  ;"></div>
      <div class = "row" >
          <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de ">
              <div class = "row">
                  <div class = "col-xs-1" style= " height: 42px;">
                    <div class = "row" style="height:15px;"></div>
                      <i class="fas fa-search" style= "font-size: 20px; text-align: left;"></i>



                  </div>
                  <div class = "col-xs-10" style= " height: 42px; color: #595c6e;">
                      <div class = "row" style="height:15px;"></div>


                      Primary C



                  </div>


              </div>

          </div>
      </div>


      <div class = "row" >
          <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de ">
              <div class = "row">
                  <div class = "col-xs-1" style= " height: 42px;">
                    <div class = "row" style="height:15px;"></div>
                      <i class="fa fa-tag" aria-hidden="true"style= "font-size: 20px; text-align: left;"></i>



                  </div>
                  <div class = "col-xs-10" style= "  color: #595c6e;">
                      <div class = "row" style="height:15px;"></div>


                      Primary Care



                  </div>


              </div>

          </div>
      </div>

      <div class = "row" >
          <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">

              <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                  <!-- <div class = "col-xs-1" >
                    <div class = "row" style="height:15px;"></div>
                      <i class="far fa-building" style= "font-size: 20px; text-align: left;"></i>
                  </div> -->

                  <div class = "col-md-12" style= "  color: #595c6e;">

                Primary Supportttttttttttttttttttttttttttttttttttttt

                  </div>


              </div>

          </div>
      </div>

      <div class = "row" style= "height: 50%;" >
          <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50%; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de ">
              <div class = "row">
                  <!-- <div class = "col-xs-1" style= " height: 42px;">
                    <div class = "row" style="height:15px;"></div>
                      <i class="fas fa-plus" style= "font-size: 20px; text-align: left;"></i>




                  </div> -->
                  <div class = "col-xs-10" style= "  color: #595c6e;">
                      <div class = "row" style ="margin-top:30%;"></div>


                      Marathon League



                  </div>


              </div>

          </div>
      </div>
      <!--
      <div class = "row">
        <div class = "col-xs-11">

        </div>

      </div>-->
      <!--
      <div class = "row">
          <div class = "col-xs-11">

            </div>

      </div>
      <div class = "row">
          <div class = "col-xs-11">

            </div>

      </div>
      <div class = "row">
          <div class = "col-xs-11">

            </div>

      </div>-->



<!--
      <div class="row">
          <div class="container">
            <p class="entrance-question" style="margin-top: 20px; margin-left: 20px; font-size:16px; color: #222436">Nearby Care</p>

          </div>
        </div>


      <div class = "row">
          <div class = "col-xs-10 col-xs-offset-1" style= "background-color:white; height: 207px; border: 1px solid #eeeff6; border-radius: 5px;">
              <div class = "row" style="height: 70px; border-bottom: 2px solid #eeeff6;">
                      <div class = "col-xs-2" style= " height: 70px;">
                          <div class= "row" style="height: 15px;"></div>
                      <i class="far fa-hospital" style="color: #7b69c3; font-size: 35px; "></i>


                    </div>
                    <div class = "col-xs-8" style= " height: 70px;">

                        <div class = "row" style="height: 30px;  color: #7c7f8f; font-size: 12px;">
                            <div class= "row" style="height: 10px;"></div>
                            <strong>
                          PRIMARY CARE</strong>
                        </div>


                        <div class = "row" style="height: 30px; color: #000000; font-size: 20px;"><strong>
                            Mercy Medical Center</strong>

                        </div>
                      </div>
                      <div class = "col-xs-2" style= "height:70 px;">
                          <div class= "row" style="height: 25px;"></div>
                          <i class="fas fa-chevron-right" style = "color: #d3d4de; font-size: 20px; margin-left: 15px;"></i>




                        </div>

                </div>

                  <div class = "row" style="height: 90px;border-bottom: 2px solid #eeeff6; ">
                    <div class= "col-xs-8" style=" height: 90px; font-size: 15px; color: #7c7f8f;  ">
                      <div class= "row" style="height: 45px;  margin-left: 10px;" >
                          <div class= "row" style="height: 15px;"></div>




                          <i class="fas fa-stethoscope" style="font-size: 20px; color: #56c2ff;"></i>


                          10 Doctors




                      </div>

                      <div class= "row" style="height: 45px;margin-left: 10px; ">

                          <i class="fas fa-map-marker-alt" style="font-size: 20px; color: #56c2ff;"></i>
                          2 Miles away

                        </div>


                    </div>
                    <div class= "col-xs-4" style="height: 90px; ">
                        <div class = "row" style= "height: 25px; "> </div>
                      <div class = "row" style= "height: 40px; width: 80px;  background-color: #eeeff6; margin-left: 10px; font-size: 20px; color: #595c6e; text-align: center;">
                          <div class= "row" style="height: 5px;"></div>
                        $50-90

                      </div>


                      </div>


                    </div>
                      <div class = "row" style="height: 47px; font-size: 11px; text-align: center; " >
                        <div class = "col-xs-3" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(106, 242, 188, 0.23); color: #36ac7d; border: 1px solid #36ac7d; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              CERTIFIED
                          </div>


                        </div>
                        <div class = "col-xs-6" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(254, 176, 228, 0.19); color: #fe56c5; border: 1px solid #fe56c5; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              LOW AVAILABILITY
                          </div>


                        </div>
                        <div class = "col-xs-3" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(255, 132, 63, 0.3); color: #e86e29; border: 1px solid#e86e29; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              50%
                          </div>


                        </div>
                      </div>




          </div>
      </div>


      <div class= "row" style="height: 25px;"></div>

      <div class = "row">
          <div class = "col-xs-10 col-xs-offset-1" style= "background-color:white; height: 207px; border: 1px solid #eeeff6; border-radius: 5px;">
              <div class = "row" style="height: 70px;border-bottom: 2px solid #eeeff6;">
                      <div class = "col-xs-2" style= " height: 70px;">
                          <div class= "row" style="height: 15px;"></div>
                      <i class="fas fa-circle" style="color: #30a3e4; font-size: 35px; "></i>




                    </div>
                    <div class = "col-xs-8" style= " height: 70px;">

                        <div class = "row" style="height: 30px;  color: #7c7f8f; font-size: 12px;">
                            <div class= "row" style="height: 10px;"></div>
                            <strong>
                          POOL</strong>
                        </div>


                        <div class = "row" style="height: 40px; color: #000000; font-size: 20px;"><strong>
                            Marathon League</strong>

                        </div>
                      </div>
                      <div class = "col-xs-2" style= "height:70 px; ">
                          <div class= "row" style="height: 25px;"></div>
                          <i class="fas fa-chevron-right" style = "color: #d3d4de; font-size: 20px; margin-left: 15px;"></i>




                        </div>

                </div>

                  <div class = "row" style="height: 90px;border-bottom: 2px solid #eeeff6; ">
                    <div class= "col-xs-8" style=" height: 90px; font-size: 15px; color: #7c7f8f; ">

                        <div class = "row" style="height: 22.75px; ">
                          </div>
                      <div class= "row" style="height: 45px;  margin-left: 10px; " >
                          <div class= "row" style="height: 15px;"></div>






                          <i class="fas fa-user" style="font-size: 20px; color: #56c2ff;"></i>


                          245 members




                      </div>




                    </div>
                    <div class= "col-xs-4" style=" height: 90px; ">
                        <div class = "row" style= "height: 25px; "> </div>
                      <div class = "row" style= "height: 40px; width: 80px;  background-color: #eeeff6; margin-left: 10px; font-size: 20px; color: #595c6e; text-align: center;">
                          <div class= "row" style="height: 5px;"></div>
                        $75

                      </div>


                      </div>


                    </div>
                    <div class = "row" style="height: 47px; font-size: 11px; text-align: center; " >
                        <div class = "col-xs-3" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(106, 242, 188, 0.23); color: #36ac7d; border: 1px solid #36ac7d; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              CERTIFIED
                          </div>


                        </div>
                        <div class = "col-xs-6" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(254, 176, 228, 0.19); color: #fe56c5; border: 1px solid #fe56c5; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              LOW AVAILABILITY
                          </div>


                        </div>
                        <div class = "col-xs-3" style="height: 47px; ">
                            <div class = "row" style= "height: 9px; "> </div>
                          <div class = "row" style="height: 25px; background-color: rgba(255, 132, 63, 0.3); color: #e86e29; border: 1px solid#e86e29; border-radius: 25px;">
                              <div class = "row" style= "height: 6px; "> </div>

                              50%
                          </div>


                        </div>
                      </div>



          </div>
      </div>


      <div class= "row" style="height: 25px;"></div>

      <div class = "row">
        <div class = "col-xs-10 col-xs-offset-1" style= "background-color:white; height: 207px; border: 1px solid #eeeff6; border-radius: 5px;">
            <div class = "row" style="height: 70px; border-bottom: 2px solid #eeeff6;">
                    <div class = "col-xs-2" style= " height: 70px;">
                        <div class= "row" style="height: 15px;"></div>
                    <i class="far fa-hospital" style="color: #7b69c3; font-size: 35px; "></i>


                  </div>
                  <div class = "col-xs-8" style= " height: 70px;">

                      <div class = "row" style="height: 30px;  color: #7c7f8f; font-size: 12px;">
                          <div class= "row" style="height: 10px;"></div>
                          <strong>
                        PRIMARY CARE</strong>
                      </div>


                      <div class = "row" style="height: 30px; color: #000000; font-size: 20px;"><strong>
                          Mercy Medical Center</strong>

                      </div>
                    </div>
                    <div class = "col-xs-2" style= "height:70 px;">
                        <div class= "row" style="height: 25px;"></div>
                        <i class="fas fa-chevron-right" style = "color: #d3d4de; font-size: 20px; margin-left: 15px;"></i>




                      </div>

              </div>

                <div class = "row" style="height: 90px;border-bottom: 2px solid #eeeff6; ">
                  <div class= "col-xs-8" style=" height: 90px; font-size: 15px; color: #7c7f8f;  ">
                    <div class= "row" style="height: 45px;  margin-left: 10px;" >
                        <div class= "row" style="height: 15px;"></div>




                        <i class="fas fa-stethoscope" style="font-size: 20px; color: #56c2ff;"></i>


                        10 Doctors




                    </div>

                    <div class= "row" style="height: 45px;margin-left: 10px; ">

                        <i class="fas fa-map-marker-alt" style="font-size: 20px; color: #56c2ff;"></i>
                        2 Miles away

                      </div>


                  </div>
                  <div class= "col-xs-4" style="height: 90px; ">
                      <div class = "row" style= "height: 25px; "> </div>
                    <div class = "row" style= "height: 40px; width: 80px;  background-color: #eeeff6; margin-left: 10px; font-size: 20px; color: #595c6e; text-align: center;">
                        <div class= "row" style="height: 5px;"></div>
                      $50-90

                    </div>


                    </div>


                  </div>
                    <div class = "row" style="height: 47px; font-size: 11px; text-align: center; " >
                      <div class = "col-xs-3" style="height: 47px; ">
                          <div class = "row" style= "height: 9px; "> </div>
                        <div class = "row" style="height: 25px; background-color: rgba(106, 242, 188, 0.23); color: #36ac7d; border: 1px solid #36ac7d; border-radius: 25px;">
                            <div class = "row" style= "height: 6px; "> </div>

                            CERTIFIED
                        </div>


                      </div>
                      <div class = "col-xs-6" style="height: 47px; ">
                          <div class = "row" style= "height: 9px; "> </div>
                        <div class = "row" style="height: 25px; background-color: rgba(254, 176, 228, 0.19); color: #fe56c5; border: 1px solid #fe56c5; border-radius: 25px;">
                            <div class = "row" style= "height: 6px; "> </div>

                            LOW AVAILABILITY
                        </div>


                      </div>
                      <div class = "col-xs-3" style="height: 47px; ">
                          <div class = "row" style= "height: 9px; "> </div>
                        <div class = "row" style="height: 25px; background-color: rgba(255, 132, 63, 0.3); color: #e86e29; border: 1px solid#e86e29; border-radius: 25px;">
                            <div class = "row" style= "height: 6px; "> </div>

                            50%
                        </div>


                      </div>
                    </div>




        </div>
    </div>
  -->



    </div>



</div>
