<div>
    <div class="container search-container" >

        <div class="row button-row">

            <div class="col-xs-6 account-button">
      
      
              <img class="user-circle-pic" src="/images/i-user-circle.png"> My Account
      
      
      
            </div>
      
            <div class="col-xs-6 care-button" >
      
              <img class ="search-circle-pic "src="/images/i-search-circle-filled.png"> Find Care
      
            </div>
      
          </div>
      
          <div class="row empty-line" style="height: 10px"></div>
          <div class="row bar-container">
            <div class="col-xs-10 search-bar">
              <div class="row">
                <div class="col-xs-12 inner-search-container">
      
      
                  <img class="inner-search-container-pic" src="/images/i-search-outline.png"> Search
      
                  <img class="inner-filter-pic" src="/images/i-filters.png">
                  <img class="inner-map-pic" src="/images/i-map-marker.png">
      
                </div>
      
      
              </div>
            </div>
          </div>
    

      <div class= "row" style="height: 1% ;"></div>

      <div class= "row" style="height: .1%; background-color: #d3d4de  ;"></div>
      


      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">
            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                 <div class = "col-xs-1" >
                    <i class="fas fa-search" style= "font-size: 20px; text-align: left;"></i>
                </div> 

                <div class = "col-md-12" style= "  color: #595c6e;">

              Primary C

                </div>


            </div>

        </div>
    </div>

      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">

            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                 <div class = "col-xs-1" >
                    <i class="fa fa-tag" style= "font-size: 20px; text-align: left;"></i>
                </div> 

                <div class = "col-md-12" style= "  color: #595c6e;">

                    Primary Care

                </div>


            </div>

        </div>
    </div>
      



      <div class = "row"  >
          <div class = "col-xs-11 col-xs-offset-1 dropdown-row" >

              <div class = "row bar-container"  >

                   <div class = "col-xs-1" >
                      <i class="far fa-building dropdown-pic" ></i>
                  </div> 

                  <div class = "col-md-12" style= "  color: #595c6e;">

                Primary Support Health Group

                  </div>


              </div>

          </div>
      </div>


      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">
            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >
                 <div class = "col-xs-1" >
                    <i class="fas fa-plus" style= "font-size: 20px; text-align: left;"></i>
                </div> 
                <div class = "col-md-12" style= "  color: #595c6e;">
                    Marathon League
                </div>
            </div>
        </div>
    </div>


      
     



    </div>
</div>
