<div>
    <div class="container" style="background-color: #ffffff; height: 1000px;">

            <div class="row" style="font-size: 16px; text-align: center;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; ">
            
                    <div class="col-xs-6" style="background:  #ffffff; height: 60px;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; color: #595c6e;  display: flex; align-items: center; justify-content: center;">
        
                       
                        <img  src="/images/i-user-circle.png" style="width:25%; height: 55%; margin-right: 3%;" >
                        
                                My Account
                        
                        
        
                    </div>
        
                    <div class = "col-xs-6" style= "background:rgba(86, 194, 255, 0.2); height: 60px; color: #30a3e4;  box-shadow: 0 1px 0 0 #d3d4de, 1px 0 0 0 #d3d4de; display: flex; align-items: center; justify-content: center;">
        
                            <img  src="/images/i-search-circle-filled.png" style="width:25%; height: 55%; margin-right: 3%;" >
        
                        Find Care
        
                    </div>
        
                </div>
    
          <div class= "row" style="height: 1%;"></div>
          <div class = "row" style= " display: flex; align-items: center;justify-content: center; ">
                <div class = "col-xs-10" style= "background-color:white; height: 42px; width: 88%;font-size: 15px; color: #7c7f8f; border: 1px solid #937eea;">
                    <div class = "row" >
                        <div class = "col-xs-12" style= " height: 42px;  display: flex; align-items: center; ">
      
                          
                                <img  src="/images/i-search-outline.png" style="width:8%; height: 35%; margin-right: 3%;" >
                            
                      
                            Primary
    
                            <img  src="/images/i-filters.png" style="margin-left: 55%;width:8%; height: 34%; margin-right: 3%;" >
                            <img  src="/images/i-map-marker.png" style="width:6%; height: 32%; margin-right: 3%;" >
                            
      
                        </div>
      
                        
                    </div>
                </div>
            </div>
    

      <div class= "row" style="height: 1% ;"></div>

      <div class= "row" style="height: .1%; background-color: #d3d4de  ;"></div>
      


      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">
            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                 <div class = "col-xs-1" >
                    <i class="fas fa-search" style= "font-size: 20px; text-align: left;"></i>
                </div> 

                <div class = "col-md-12" style= "  color: #595c6e;">

              Primary C

                </div>


            </div>

        </div>
    </div>

      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">

            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                 <div class = "col-xs-1" >
                    <i class="fa fa-tag" style= "font-size: 20px; text-align: left;"></i>
                </div> 

                <div class = "col-md-12" style= "  color: #595c6e;">

                    Primary Care

                </div>


            </div>

        </div>
    </div>
      



      <div class = "row"  >
          <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">

              <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >

                   <div class = "col-xs-1" >
                      <i class="far fa-building" style= "font-size: 20px; text-align: left;"></i>
                  </div> 

                  <div class = "col-md-12" style= "  color: #595c6e;">

                Primary Support Health Group

                  </div>


              </div>

          </div>
      </div>


      <div class = "row"  >
        <div class = "col-xs-11 col-xs-offset-1" style= "background-color:white; height: 50px; font-size: 16px; color: #7c7f8f; border-bottom: 1px solid #d3d4de; display: flex; ">
            <div class = "row" style= "display: flex;   display: flex; align-items: center;justify-content: center;" >
                 <div class = "col-xs-1" >
                    <i class="fas fa-plus" style= "font-size: 20px; text-align: left;"></i>
                </div> 
                <div class = "col-md-12" style= "  color: #595c6e;">
                    Marathon League
                </div>
            </div>
        </div>
    </div>


      
     



    </div>
</div>
