<div class="welcome container">


  <div class="Ellipse-3">
    <div class="Ellipse-2 ">
      <div class="Ellipse-1">
        <img class="img-responsive" id="hero-logo" src="/images/bitclaims-logo.png" />
      </div>
    </div>
  </div>


  <div class="text-section">


    <div class="container">



      <div class="row">


        <div class="container">

          <div class="hero-text">
            Save your money,<br> keep your doctor.
          </div>

          <br>

          <div class="hero-subtext">
            BitClaims is a global community making <br> healthcare readically affordable, acessible, and easy.
          </div>

          <div class="text-center">
            <button class="createAccount" type="button" name="button">CREATE AN ACCOUNT</button>
          </div>

        </div>


      </div>
    </div>

  </div>





</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
